<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>





    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/static/images/logoHeader.png') }}"
        type="image/x-icon">


    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/app-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/app-dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/auth.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/compiled/css/iconly.css') }}">
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet"
        href="{{url_for('static', filename='assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css')}}">
</head>